.contributions{
    background-image: url('../../../../public/assets/images/contributions-section-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contributions__overlay::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000000BF;
    top:0;
    left:0;
    z-index: 0;
}

.contributions__box{
    border-radius: 15px;
    background: #FFFFFF40;

}

.contributions__box--image{
    width: 50%;
}

@media screen and (max-width: 1200px){
    .contributions__boxes{
        flex-wrap: nowrap !important;
        overflow: scroll;
    }
    .contributions__box--image{
        width:100%;
    }
}