.banner {
  background: linear-gradient(
    90deg,
    #211f1f 3.74%,
    #1a1a1d 51.39%,
    rgba(0, 0, 0, 0) 95.63%
  );
  color: white; /* Set text color to white for better visibility */
  padding: 50px 0; /* Adjust padding as needed */
}

.text-container {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent black background for text */
  padding: 20px;
  border-radius: 10px;
}
