//spacer classes extend for padding and margin from *-6 to *-10
$spacer : 16;
$custom-spacers: (
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
  10: $spacer * 10.5
);

//Add custom color for background, border 
$custom-theme-color: (
  "gray":  #535353,
);

//Merge the maps
$spacers:  map-merge($spacers, $custom-spacers);
$theme-colors: map-merge($theme-colors, $custom-theme-color);