@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
:root {
  --primary-color: #00A65B; /* Set your primary color */
  --secondary-color: #ED7A03; /* Set your secondary color */
}

body {
  margin: 0;
  font-family: "Sodo Sans", "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
table {
  font-size: 14px;
}
.font-10 {
  font-size: 10px;
}

.cursor-pointer {
  cursor: pointer;
}
.errorFontSize {
  font-size: 10px;
}
