@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
:root {
  --primary-color: #00a65b;
  --secondary-color: #ed7a03;
}

body {
  margin: 0;
  font-family: "Sodo Sans", "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
table {
  font-size: 14px;
}
.font-10 {
  font-size: 10px;
}

.cursor-pointer {
  cursor: pointer;
}
.errorFontSize {
  font-size: 10px;
}

.font-color-orange {
  color: #ed7a03;
}

.font-dark-gray {
  color: #535353;
}

.font-dark {
  color: #333333;
}
.bg-gray {
  background-color: #f4f4f4;
}
