.testimonial__slider {
    min-height: 500px;
    box-shadow: 0px 10px 43px 0px #00000008;
    border-radius: 15px;
}

.testimonials .slick-dots{
    position: relative;
    top:20px;
    width: 80%;
    margin: 0 auto;
}

.slick-dots li button:before{
    font-size: 10px;
}

.testimonials .slick-next:before, .testimonials .slick-prev:before{
    color: black;
    font-size: 40px;
}

.testimonials .slick-next, .testimonials .slick-prev{
    top:100%;
}

.testimonials .slick-next{
    right: 30px;
}

.testimonials .slick-prev{
    left: 30px;
}