
.accordion-button{
    /* background: #3c7edc !important; */
    background-color: #3c7edc !important; /* Bootstrap's primary color */
    color: #fff !important; /* White text color */
    padding-top: 0.5rem !important; /* Top padding */
    padding-bottom: 0.5rem !important;
}
.accordion-button .collapsed{
    background: #3c7edc !important;
    color: #fff !important; /* White text color */
    padding-top: 0.5rem !important; /* Top padding */
    padding-bottom: 0.5rem !important;
}
.accordionBody{
    background:#eff6ff
}