.section-background {
  background: #f4f4f4;
}

.pl-12 {
  padding-left: 12px;
}

.join-form input {
  font-size: 32px !important;
  font-weight: 700 !important;
  color: #535353 !important;
  border: 2px solid #9D9D9D !important;
}

.join-form input::placeholder {
  font-size: 32px;
  font-weight: 700;
  color: rgba(83, 83, 83, 0.59) !important;
}

.btn-height {
  height: 49px;
}