.inputStyling {
    padding: .375rem .75rem;
    padding-bottom: 0.5rem !important;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
.inputMargin{
    margin-bottom: 10px;
}